.left-menu {
  flex: 0 0 auto;
  width: 250px;
  background: #F5F7F9;
  display: flex;
  height: 709px;
  border: 1px solid #E6ECF1;
}
.left-menu .el-tree {
  margin-top: 30px;
  padding-left: 25px;
  width: 100%;
  border: none;
  background-color: #F5F7F9;
}
.left-menu .el-tree .el-tree-node {
  margin-bottom: 5px;
  color: #5c6975;
}
.left-menu .el-tree .el-tree-node .el-tree-node__children .el-tree-node {
  color: #9daab6;
}
.left-menu .el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
  background-color: #fff;
  border: 1px solid #E6ECF1;
  border-right: none;
  color: #3884ff;
}
.left-menu .menu-list {
  max-height: 709px;
}
