.header {
  height: 80px;
  box-shadow: 0 3px 8px 0 rgba(116, 129, 141, 0.1);
  border-bottom: 1px solid #d4dadf;
}
.header .header-left-column {
  max-width: 298px;
  color: red;
  justify-content: center;
  -webkit-box-pack: center;
}
